@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
}
a,
a:hover {
  text-decoration: none;
  color: #000;
}
ol,
ul {
  list-style-type: none;
}
img {
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ol,
ul,
li,
span,
input,
form,
.btn,
textarea,
.navbar,
.navbar-brand,
table,
tr,
td {
  padding: 0;
  margin: 0;
}
/* Default common css end*/
h1 {
  font-size: 32.67px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
}
h2 {
  font-size: 32.58px;
  color: #393939;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
}
h3 {
  font-size: 20px;
  color: #393939;
  text-transform: uppercase;
  font-weight: 700;
}
h4 {
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
}
h5 {
  font-size: 14px;
  color: #222222;
  text-transform: capitalize;
  font-weight: 500;
  font-family: "Lato", sans-serif;
}
h6 {
  font-size: 14px;
  color: #ea2e49;
  text-transform: capitalize;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
}
p {
  font-size: 14px;
  color: #393939;
  text-transform: capitalize;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 5px;
  margin-top: 10px;
}

/* header_part start */

.top_header {
  float: right;
  padding: 17px 0px;
}
/* .top_header span {
  padding-left: 20px;
} */
/* .top_header span:first-child {
  padding-left: 0px;
} */
.top_header span a {
  font-size: 12px;
  color: #ea2e49;
  font-family: "Open Sans", sans-serif;
}
.top_header span img {
  width: 12px;
  margin-right: 5px;
}
/* navbar start */
.menu_part {
  padding: 20px 0px 10px 0px;
}
.menu_part .logo {
  margin-top: -60px;
}
.menu .nav-item .nav-link {
  padding: 0px 22px;
  font-size: 18px;
  color: #313131;
  text-transform: uppercase;
  font-weight: 500;
}
.menu .nav-item.active .nav-link,
.menu .nav-item:hover .nav-link {
  color: #ea2e49;
}
.menu .nav-item .nav-link:last-child {
  padding-right: 0px;
}
.btn_link {
  background-color: #ea2e49;
  color: #ffffff;
  font-size: 18px;
  padding: 5px 10px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 5px;
  margin-left: 22px;
}
/* header_part end */
/* banner_part start */
.banner_part {
  background-image: url(../image/bg_banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.carousel-item img {
  /* width: 110%; */
}
/* banner_part end */
/* product_part start */
.product_part {
  margin-bottom: 50px;
}
.product_category {
  background-color: #ea2e49;
  padding: 8px 0px;
}
.product_category h3 {
  color: #ffffff;
}
/* latest_product */
.common_heading {
  margin-top: 60px;
}
.common_heading h3,
.common_heading h4 {
  margin-bottom: 20px;
}
/* .latest_product {
  margin-bottom: 20px;
} */
.lst_product_part {
  background-color: #efeff8;
  transition: 0.4s;
}
.lst_product_part img,
.lst_product_part h5 {
  padding-bottom: 5px;
}
.lst_product_part h4 {
  color: #ea2e49;
  padding-bottom: 20px;
}
.lst_product_part:hover {
  transform: scale(1.05);
}
/* featured video start */
.featured_video_box {
  transition: 0.4s;
}
.featured_video {
  position: relative;
}
.featured_video_overly {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #6e6e6e;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}
.play_btn {
  /* z-index: 999; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.featured_video h1 {
  position: absolute;
  bottom: 5%;
  left: 5%;
}
.featured_video_box:hover {
  transform: scale(1.05);
}
/* product_part end */
/* about_part start */
.about_part {
  background-image: url(../image/bg_banner_2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 0px;
}
.about_part h2 span {
  color: #ea2e49;
}
.about_part_logo {
  background-color: #ffffff;
}
.about_part_logo img {
  padding: 25px 10px;
}
.common_heading p:last-child span {
  color: #ea2e49;
}
/* about_part end */
/* news_part start */
.news_part {
  margin: 90px 0px;
}
.news_box {
  margin-bottom: 5px;
  border-top: 1px solid #31313159;
  border-bottom: 1px solid #31313159;
  transition: 0.4s;
}
.news_box h6 {
  color: #393939;
}
.news_box:hover {
  background-color: #f4f4f4;
}
/* .news_box:hover .news_box h6 {
  color: #ea2e49;
} */
/* news_part end */
/* footer_sec start */
.foot_sec {
  background-image: url(../image/footer_banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 35px 0px;
}
.footer_menu li {
  list-style: none;
  display: block;
  padding: 5px 0px;
  transition: 0.4s;
}
.footer_menu li a {
  font-size: 12px;
  color: #d3d3d3;
}
.footer_menu li:hover .footer_menu li {
  color: #ea2e49;
}
/* footer_sec end */
/* men's fashion page css start */
.banner_part_bottom {
  background-color: #333745;
  padding: 12px 0px 12px 15px;
  margin-bottom: 35px;
}
.boishakhi_banner_carousel .carousel-item img,
.news_banner_carousel .carousel-item img,
.mens_banner_carousel .carousel-item img {
  position: relative;
}
.mens_banner_carousel .carousel-inner h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 800;
}
.news_banner_carousel .carousel-inner h1 {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateX(-50%);
  font-weight: 800;
}
.boishakhi_banner_carousel .carousel-inner h1 {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translateX(-50%);
  font-weight: 800;
}
/* category_list start */
.category_list {
  background-color: #efeff8;
}
.category_list_title {
  background-color: #ea2e49;
  padding: 15px;
}
.category_list_title h3 {
  color: #ffffff;
}
.cate_list li {
  padding: 12.5px 0px;
  padding-left: 15px;
  transition: 0.4s;
}
.cate_list li:last-child {
  padding-bottom: 40px;
}
.cate_list li a {
  color: #3a3a3a;
}
.cate_list li:hover {
  background-color: #fff;
}
/* .cate_list li:hover .cate_list li {
  color: #ea2e49;
  padding-left: 5px;
} */
.cate_item h3 {
  color: #393939;
  padding: 15px 0px;
}
.men_cat {
  margin-top: 20px;
}
/* news_part */
.news_event_part {
  margin: 40px 0px;
}
.news_part_content p {
  margin-top: 0px;
  margin-bottom: 15px;
}
.news_event_part:hover {
  background-color: #efeff8;
}
.about_content {
  margin-bottom: 25px;
}
.about_content_img {
  position: relative;
}
.about_content_img_overly {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
}
.about_content_img h1 {
  position: absolute;
  bottom: 10%;
  left: 5%;
}
